.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
  padding: 92px 49.48px 96px 50.52px;
  font-size: 18px;
} 

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  padding-top: 44px;
  padding-bottom: 39px;
  gap: 32px;
  letter-spacing: 0.18px;
}

.header__link_border {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__links-list-item_no-bullet {
  list-style: none;
  gap: 31.48px;
} 

.header__links-list-item_no-bullet a {
  text-decoration: none;
}

.header__logo-image {
  height: 105px;
}

.header__address {
  justify-self: end;
  clear: both;
  width: 240.52px;
  padding-top: 5.2px;
  line-height: 137%;
  font-style: normal;
}

.header__address a {
  letter-spacing: 0.18px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.cover {
  position: relative;
  height: 757px; 
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  inset: 0;
}

.cover__title {
  padding: 165px 50px 135px 50px; 
}

.aligned-text {
  position: relative;
  display: block;
  line-height: 1.15;
  font-size: 100px;
  color: #fff;
  letter-spacing: 0.3em;
  z-index: 100;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.4;
}

.aligned-text_right {
  text-align: right;
  line-height: 1.0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  text-transform: uppercase;
  line-height: 1.28;
  padding-left: 78px;
  padding-right: 50px;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  align-self: center;
  font-weight: normal;
  word-spacing: 17px;
}

.text-word-spacing-extended {
  word-spacing: 19.8px;
}

.text-letter-spacing {
  letter-spacing: 1.1em;
}

.bet-button {
  font-size: 22px;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.lots {
  position: relative;
  margin: 179px 24px 146px 24px;
  height: 692px;
}

.lots__heading {
  text-transform: uppercase;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
}

.lots__card-list {
  display: flex;
  list-style: none;
  padding-top: 27px;
  column-gap: 25px;
}

.lots__card-list-item {
  flex: 1;
}

.card {
  display: flex; 
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-wrap: wrap;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card-link {
  display: block;
  position: relative;
  height: 100%;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 51px 40px 0px 40px; 
}

.card__text {
  display: flex;
  position: relative;
  z-index: 1;
  font-size: 20px;
  padding: 0 40px 48px 40px;
  align-items: flex-end; 
}

.lots__look-more-link { 
  position: absolute;
  font-size: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

.about {
  margin: 146px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
  padding-top: 36px;
  gap: 25px;
}

.about__logo {
  display: grid;
  position: relative;
}

.about_backgroung {
  position: relative;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  justify-self: center;
}

.about__logo-image {
  display: flex;
  justify-self: center;
  position: absolute;
  bottom: 63px;
  width: 148px;
  height: 114px;
  z-index: 1;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__text {
  font-size: 20px;
  letter-spacing: 0.01em;
}

.about__text-continie {
  padding-top: 24px;
  letter-spacing: 0;
}

.letter-spacing-one {
  letter-spacing: 0;
}

.letter-spacing-two {
  letter-spacing: 0.02em;
}

.letter-spacing-three {
  letter-spacing: -0.01em;
}

.letter-spacing-four {
  letter-spacing: 0.03em;
}

.letter-spacing-five {
  letter-spacing: 0.04em;
}

.letter-spacing-six {
  letter-spacing: 0.01em;
}

.word-spacing {
  word-spacing: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-right: 13px;
  font-size: 18px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
  transform: translate(5%, 3%);
}

.footer__social-list {
  display: flex;
  list-style: none;
  padding-left: 48px;
  gap: 48px;
}

.footer__address a {
  letter-spacing: 0.18px;
}

.footer__address {
  clear: both;
  width: 240.52px;
  padding-right: 5px; 
  transform: translate(-4.1%, 1%);
  line-height: 137%;
  font-style: normal;
}

.footer__links-list-item_decoration a {
  text-decoration: none;
}

.footer__menu-link_active:active {
  text-decoration: none;
}
